<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    	{% load static %}
       	<link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/ico" />
   	    <link href="{% static "pure-min.css" %}" rel="stylesheet" />
        <link href="{% static "jquery.fancybox.min-3.3.5.css" %}" rel="stylesheet" />
        <link href="{% static "jquery.dataTables-1.10.18.min.css" %}" rel="stylesheet">
        <link href="{% static "select2-4.0.6-rc.0.min.css" %}" rel="stylesheet">
   	    <link href="{% static "styles.css" %}" rel="stylesheet">
        <style>
            {% block extrastyle %}{% endblock %}
        </style>
    </head>
    <body>
        <div id="mainmenu">
            {{ mainmenu }}
            <hr>
            {% block navlinks %}
                <p><a href="{% url 'admin:index' %}">Admin</a></p>
            {% endblock %}
            <hr>
            {% block pageinfo %}
                <p>Generated {% now "Y-m-d H:i:s" %}</p>
            {% endblock %}
        </div>
        <div id="sidebar">
            <form action="{% url 'search' %}" method="GET">
                <input
                    id="search_string"
                    type="text"
                    name="search"
                    placeholder="Search"
                    {% if search_string %}value="{{ search_string }}"{% endif %}
                    autofocus>
            </form>
            <p><a href="{% url 'admin:mpages_page_add' %}">Add Page</a></p>
            <h3>Page Updates</h3>
            {% for update in sidebar.updates %}
                <h4>{{ update.date }}</h4>
                {% for page in update.pages %}
                   <p><a href="{% url 'page-detail' page.slug %}">{{ page.title }}</a></p>
                {% endfor %}
            {% endfor %}
            <h3>Recent Pages</h3>
            {% for page in sidebar.recent %}
                <p><a href="{% url 'page-detail' page.slug %}">{{ page.title }}</a></p>
            {% endfor %}
        </div>
        <div id="content">
            {% if messages %}
                <ul class="messagelist">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}
                <h2>Content</h2>
            {% endblock %}
        </div>
        <script src="{% static "jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "jquery.fancybox-3.3.5.min.js" %}"></script>
        <script src="{% static "jquery.dataTables-1.10.18.min.js" %}"></script>
        <script src="{% static "select2-4.0.6-rc.0.min.js" %}"></script>
        {% block extrascriptlibraries %}{% endblock %}
        <script type="text/javascript">
            $(document).ready(function() {
                $.fancybox.defaults.loop = true;
                $("a:has(img)").not("#logo").attr({"data-fancybox": "gallery", "data-caption": function(i, val) {return $(this).children("img:first").attr("title")}});
                $('table').DataTable();
                $('select').select2();
            });
            {% block extrascript %}{% endblock %}
        </script>
    </body>
</html>
