{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block extrastyle %}{% endblock %}

{% block content %}
    <h1>Search Results</h1>
    <p>For "{{ search_string }}"</p>
    {% if error %}
        <p class="highlight">{{ error }}</p>
    {% endif %}
    {% if text_search_results or title_string_search_results or content_string_search_results %}
        <h2>Pages</h2>
        {% if text_search_results %}
            {% for page in text_search_results %}
                <p><a href="{% url 'page-detail' page.slug %}">{{ page.title_highlight|safe }}</a></p>
                <p>{{ page.content_highlight|safe }}...</p>
            {% endfor %}
        {% else %}
            {% for page in title_string_search_results %}
                <p><a href="{% url 'page-detail' page.slug %}">{{ page.title|safe }}</a></p>
                <p>{{ page.content|safe }}...</p>
            {% endfor %}
            {% for page in content_string_search_results %}
                <p><a href="{% url 'page-detail' page.slug %}">{{ page.title|safe }}</a></p>
                <p>{{ page.content|safe }}...</p>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>No matches found</p>
    {% endif %}
{% endblock %}

{% block extrascript %}{% endblock %}
