{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block extrastyle %}{% endblock %}

{% block content %}
    <h1>Search Results</h1>
    <p>For "{{ search_string }}"</p>
    {% if error %}
        <p class="highlight">{{ error }}</p>
    {% endif %}
    {% if results %}
        <h2>{{ results|length}} Pages Found</h2>
        <ol>
            {% for result in results %}
                <li><a href="{% url 'page-detail' result.slug %}">{{ result.title_highlight|safe }}</a></li>
                <ul><li>{{ result.content_highlight|safe }}</li></ul>
            {% endfor %}
        </ol>
    {% else %}
        <p>No matches found</p>
    {% endif %}
{% endblock %}

{% block extrascript %}{% endblock %}
