{% extends "base.html" %}

{% block title %}Upload Files{% endblock %}

{% block extrastyle %}{% endblock %}

{% block content %}
    <h1>Upload Files</h1>
    <form method="post" enctype="multipart/form-data" class="pure-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Upload</button>
    </form>

    <h2>Uploaded Files</h2>
    <table>
        <thead>
            <tr><th>Filename</th><th>Type</th></tr>
        </thead>
        <tbody>
            {% for upload in uploads %}
                <tr>
                    <td><a href="/media/{{upload.directory}}/{{upload.filename}}">{{ upload.filename }}</a></td>
                    <td>{{ upload.type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extrascript %}{% endblock %}
